---

apiVersion: v1
kind: Secret
metadata:
  name: {{ kubernetes_cloud_provider }}-secret
  namespace: kube-system
type: Opaque
data:
{% for dc in kubernetes_cloud_vsphere_datacenters %}
  {% if dc.username is defined %}
  {{ dc.server }}.username: {{ dc.username | b64encode }}
  {% endif %}
  {% if dc.password is defined %}
  {{ dc.server }}.password: {{ dc.password | b64encode }}
  {% endif %}
{% endfor %}
