apiVersion: "kubeadm.k8s.io/v1alpha3"
kind: ClusterConfiguration
imageRepository: {{ kubernetes_imageRepository }}
kubernetesVersion: {{ kubernetes_master_version }}
certificatesDir: {{ kubernetes_certs_dir }}
clusterName: {{ kubernetes_cluster_name }}
auditPolicy:
  logDir: {{ kubernetes_log_dir }}
  logMaxAge: {{ kubernetes_log_age }}
  path: ""
etcd:
{% if inventory_hostname in groups.etcd %}
  local:
    dataDir: {{ kubernetes_etcd_data_dir }}
    image: {{ kubernetes_etcd_image }}
    serverCertSANs:
    - "{{ ansible_hostname }}"
    - "{{ ansible_nodename }}"
    - "{{ ansible_ssh_host }}"
    peerCertSANs:
    - "{{ ansible_hostname }}"
    - "{{ ansible_nodename }}"
    - "{{ ansible_ssh_host }}"
    extraArgs:
      initial-cluster: {% for n in groups.etcd %}{{ hostvars[n]['ansible_hostname'] }}=https://{{ hostvars[n]['ansible_ssh_host'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}

      initial-cluster-state: new
      name: {{ ansible_hostname }}
      listen-peer-urls: https://{{ ansible_ssh_host }}:2380
      listen-client-urls: https://{{ ansible_ssh_host }}:2379
      advertise-client-urls: https://{{ ansible_ssh_host }}:2379
      initial-advertise-peer-urls: https://{{ ansible_ssh_host }}:2380
{% else %}
  external:
    endpoints:
{% for n in groups.etcd %}
    - "https://{{ hostvars[n]['ansible_ssh_host'] }}:2379"
{% endfor %}
    caFile: {{ kubernetes_etcd_ca_cert_file }}
    certFile: {{ kubernetes_etcd_apiserver_client_cert_file }}
    keyFile: {{ kubernetes_etcd_apiserver_client_key_file }}
{% endif %}
{% if inventory_hostname in groups.k8s_masters %}
apiServerCertSANs:
- "{{ kubernetes_apiserver_ip | default(hostvars[groups.k8s_masters[0]]['ansible_ssh_host']) }}"
  {%- if kubernetes_apiserver_dns != "" %}
- "{{ kubernetes_apiserver_dns }}"
controlPlaneEndpoint: "{{ kubernetes_apiserver_dns }}:{{ kubernetes_apiserver_port}}"
  {%- else %}

controlPlaneEndpoint: "{{ kubernetes_apiserver_ip | default(hostvars[groups.k8s_masters[0]]['ansible_ssh_host']) }}:{{ kubernetes_apiserver_port}}"
  {%- endif %}

apiServerExtraArgs:
  authorization-mode: {{ kubernetes_authorization_mode }}
  enable-admission-plugins: {{ kubernetes_enable_admission_plugins }}
{% if kubernetes_cloud_provider != "" %}
  cloud-provider: "{{ kubernetes_cloud_provider }}"
  cloud-config: "{{ kubernetes_cloud_config_file }}"
apiServerExtraVolumes:
- name: cloud
  hostPath: "{{ kubernetes_cloud_config_file }}"
  mountPath: "{{ kubernetes_cloud_config_file }}"
controllerManagerExtraArgs:
  cloud-provider: "{{ kubernetes_cloud_provider }}"
  cloud-config: "{{ kubernetes_cloud_config_file }}"
controllerManagerExtraVolumes:
- name: cloud
  hostPath: "{{ kubernetes_cloud_config_file }}"
  mountPath: "{{ kubernetes_cloud_config_file }}"
{%- endif %}

networking:
  dnsDomain: {{ kubernetes_dns_domain }}
  podSubnet: {{ kubernetes_pod_subnet }}
  serviceSubnet: {{ kubernetes_service_subnet }}

{% endif %}
