apiVersion: "kubeadm.k8s.io/v1alpha3"
kind: ClusterConfiguration
imageRepository: {{ kubernetes_imageRepository }}
kubernetesVersion: {{ kubernetes_master_version }}
certificatesDir: {{ kubernetes_certs_dir }}
clusterName: {{ kubernetes_cluster_name }}
auditPolicy:
  logDir: {{ kubernetes_log_dir }}
  logMaxAge: {{ kubernetes_log_age }}
  path: ""
etcd:
{% if inventory_hostname in groups.etcd %}
  local:
    dataDir: {{ kubernetes_etcd_data_dir }}
    image: {{ kubernetes_etcd_image }}
    serverCertSANs:
    - "{{ ansible_hostname }}"
    - "{{ ansible_nodename }}"
    - "{{ ansible_ssh_host }}"
    peerCertSANs:
    - "{{ ansible_hostname }}"
    - "{{ ansible_nodename }}"
    - "{{ ansible_ssh_host }}"
    extraArgs:
      initial-cluster: {% for n in groups.etcd %}{{ hostvars[n]['ansible_hostname'] }}=https://{{ hostvars[n]['ansible_ssh_host'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}

      initial-cluster-state: new
      name: {{ ansible_nodename }}
      listen-peer-urls: https://{{ ansible_ssh_host }}:2380
      listen-client-urls: https://{{ ansible_ssh_host }}:2379
      advertise-client-urls: https://{{ ansible_ssh_host }}:2379
      initial-advertise-peer-urls: https://{{ ansible_ssh_host }}:2380
{% else %}
  external:
    endpoints:
{% for n in groups.etcd %}
    - "https://{{ hostvars[n]['ansible_ssh_host'] }}:2379"
{% endfor %}
    caFile: {{ kubernetes_certs_dir }}/etcd/ca.crt
    certFile: {{ kubernetes_certs_dir }}/apiserver-etcd-client.crt
    keyFile: {{ kubernetes_certs_dir }}/apiserver-etcd-client.key
{% endif %}
{% if inventory_hostname in groups.k8s_masters %}
apiServerCertSANs:
- "{{ kubernetes_apiserver_ip }}"
  {%- if kubernetes_apiserver_dns != "" %}
- "{{ kubernetes_apiserver_dns }}"
controlPlaneEndpoint: "{{ kubernetes_apiserver_dns }}:{{ kubernetes_apiserver_port}}"
  {%- else %}

controlPlaneEndpoint: "{{ kubernetes_apiserver_ip | default(hostvars[groups.k8s_masters[0]]['ansible_ssh_host']) }}:{{ kubernetes_apiserver_port}}"
  {%- endif %}

apiServerExtraArgs:
  authorization-mode: {{ kubernetes_authorization_mode }}
  enable-admission-plugins: {{ kubernetes_enable_admission_plugins }}
networking:
  dnsDomain: {{ kubernetes_dns_domain }}
  podSubnet: {{ kubernetes_pod_subnet }}
  serviceSubnet: {{ kubernetes_service_subnet }}
{% endif %}
